<div id="about" class="about top_layer">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>About us</h2>
               <span>
                 ARS was founded in December 2020, after it`s four co-founders began working on a university project.
                 We grew to become a b2b company which aims to provide affordable personalised recommender systems for retail and e-commerce.
                 Our goal is to improve our customers` clients experience with the help of machine learning and data science.
                 ARS`s sophisticated algorithms are robust, easy-to-integrate and focused on deriving maximum useful information from your data.
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="img-box">
               <figure><img src="assets/images/img-carousel12.png" alt="img"/></figure>
               <a routerLink="/team">meet our team</a>
            </div>
         </div>
      </div>
   </div>
</div>
