<div class="titlepage">
  <header>
    <div class="header">
     <div class="container">
        <div class="row">
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
              <div class="full">
                 <div class="center-desk">
                    <div class="logo"> <a routerLink="/home" >ARS</a> </div>
                 </div>
              </div>
           </div>
           <div class="col-xl-9 col-lg-6 col-md-9 col-sm-9">
              <div class="menu-area">
                 <div class="limit-box">
                    <nav class="main-menu">
                       <ul class="menu-area-main">
                          <li> <a class="nav-item nav-link" routerLink="/home">Home</a> </li>
                          <li> <a class="nav-item nav-link" routerLink="/about" (click)="scroll(about)">About</a> </li>
                          <li> <a class="nav-item nav-link" routerLink="/user" *ngIf="currentUser" (click)="scroll(user)">Account</a></li>
                          <li> <a class="nav-item nav-link" routerLink="/user_guide" *ngIf="currentUser" (click)="scroll(user)"> Docs </a> </li>
                          <li> <a class="nav-item nav-link" routerLink="/services" (click)="scroll(services)"> Services</a> </li>
                          <li> <a class="nav-item nav-link" routerLink="login" *ngIf="!currentUser" (click)="scroll(login)">Log in</a> </li>
                          <li> <a class="nav-item nav-link" routerLink="/" (click)="logout()" *ngIf="currentUser">Log out</a> </li>
                       </ul>
                    </nav>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>
  </header>
  <body>
    <app-slider></app-slider>
    <ff-alerts></ff-alerts>
    <div #login #user #services>
      <router-outlet></router-outlet>
    </div>
    <div #about></div>
  </body>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
