  <div id="user-form" class="authorize">
      <div class="col-md-4 offset-md-4">
        <div class="contact">
           <h3>Api documentation</h3>
            <div class="container">
              <div class="row justify-content-md-center">
              <h4>Input File Format</h4>
              </div>
              <div class="row">
                <p>
                  File format is required to be .csv with MANDATORY columns:
                </p>
              </div>
              <div class="row">
                  <ul>
                    <li><a><b>ts</b> - time of transaction (string/timestamp/integer)</a></li>
                    <li><a> <b>user_id</b> - unique identifier of user (string/integer) </a></li>
                    <li><a> <b>item_id</b> - unique identifier of item (string/integer)</a></li>
                  </ul>
              </div>
              <div class="row">
                <p>
                  Other columns will be considered additional features.
                </p>
              </div>
              <div class="row justify-content-md-center">
              <h4>API</h4>
              </div>
              <div class="row">
                <code>
                  REQUEST:<br>
HTTP GET:<br>
    URL: http://52.166.21.61:16346/api/recommend <br>
    JSON: &#10100;
        "api_uid": str,
        "data": [[int]]
    &#10101;
                </code>
              </div>
              <div class="row margin_top_30">
                  <ul>
                    <li><a><b>api_uid</b> - your personal id from account page </a></li>
                    <li><a> <b>data</b>  - 2d list of lists of historical interactions for users </a></li>
                  </ul>
              </div>
              <div class="row margin_top_30">
                <code>
                  RESPONSE:<br>
    &#10100;
        "recommendations": [[str]],
        "error": str
    &#10101;
                </code>
              </div>
              <div class="row margin_top_30">
                  <ul>
                    <li><a><b>recommendations</b> - 2d list of lists of recommended items for users from request </a></li>
                  </ul>
              </div>
              <div class="row justify-content-md-center">
              <h4>Python example</h4>
              </div>
               <div class="row justify-content-md-center">
                <div>
                  <div id="highlighter_848556" class="syntaxhighlighter  html">
                    <table>
                      <tbody>
                      <tr>
                        <td class="gutter">
                        <div class="line number1 index0 alt2">1</div>
                        <div class="line number2 index1 alt1 ">2</div>
                        <div class="line number3 index2 alt2">3</div>
                        <div class="line number4 index3 alt1 ">4</div>
                        <div class="line number5 index4 alt2">5</div>
                        <div class="line number6 index5 alt1">6</div>
                        <div class="line number7 index6 alt2">7</div>
                      </td>
                        <td class="code">
                          <div class="container">
                            <div class="line number1 index0 alt2">
                              <code class="html keyword">import</code>
                              <code class="html spaces">&nbsp;</code>
                              <code class="html plain">requests</code>
                            </div>
                            <div class="line number2 index1 alt1">
                              <code class="html plain">requests</code>
                              <code class="html keyword">.get</code>
                              <code class="html plain">(</code>
                            </div>
                            <div class="line number3 index2 alt2">
                              <code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code>
                              <code class="html color1">'http://52.166.21.61:16346/api/recommend'</code>
                              <code class="html plain">,</code>
                            </div>
                            <div class="line number4 index3 alt1">
                            <code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code>
                            <code class="html plain">json=</code>
                            <code class="html plain">&#10100; </code>
                          </div>
                            <div class="line number5 index4 alt2">
                            <code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>
                              <code class="html color1">"api_uid"</code>
                              <code class="html plain">:</code>
                              <code class="html color1"> "test_uid"</code>
                              <code class="html plain">,</code>
                            </div>
                            <div class="line number6 index5 alt1">
                              <code class="html spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code>
                              <code class="html color1">"data"</code>
                              <code class="html plain">: [[1,2,3,4,5, 27, 999999]] </code>
                            </div>
                            <div class="line number7 index6 alt2">
                              <code class="html plain">&#10101;).</code>
                              <code class="html keyword">text</code>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
               </div>
            </div>
        </div>
      </div>
  </div>
