.send-btn {
	margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 20px;
	font-size: 14px;
	border: #000000 solid 2px;
	padding: 16px 70px;
	background-color: #000000;
	color: #fff;
}

.send-btn:hover {
	background-color: #ff0000;
	border: #ff0000 solid 2px;
	color: #fff;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 21%;
  left: 80%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
